body {
    font-size: 1.25rem;
}

.avatar {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
}

.post-illustration {
    display: flex;
    justify-content: center;
}

.post-illustration img {
    display: block;
    max-width: 70%;
    height: auto;
}

container * {
    margin-bottom: 1rem;
}
